---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Marine Hosch"
  description="Je suis Marine, future ingénieure des médias (2024)"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Bienvenue sur mon site personnel, il regroupe mes projets, mes expériences et mes passions. Je suis actuellement en 3e année de Bachelor en Ingénierie des Médias à la HEIG-VD."
      >
        <img
          width="360"
          height="480"
          src="/assets/sidePortraitMarineHosch.png"
          alt="Marine Hosch portrait noir et blanc"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Avant de commencer la HEIG-VD à Yverdon-les-bains, j'ai obtenu un
            bachelor en soins infirmiers à l'école de la Source en 2015. Je suis
            également la créatrice d'une marque de vêtements pour enfants, Miel
            & Moutarde. Marque qui a vu le jour après la naissance de mon
            premier fils en 2016.
          </p>
          <p><a href="https://mieletmoutarde.ch/">Mes créations</a></p>
          <br />
          <p>
            Durant ma formation d'ingénieure des médias, j'ai découvert
            énormément de domaines et aujourd'hui, je souhaite continuer à
            travailler dans le domaine de la programmation et surtout de la
            visualisation de données.
          </p>
          <br />
          <p>
            Mon Mon Ikigai me ramène vers un point ralliant mes deux centres
            d'intérêts : les soins et la visualisation de données:
          </p>

          <img
            width="1553"
            height="873"
            src="/assets/ikigai_marine.png"
            alt="ikigai"
          />
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            J'ai fait l'ensemble des mes études dans le canton de Vaud. Suite à
            l'obtention de ma maturité gymnasiale (Gymnase de la Cité, 2010),
            j'ai entamé un Bachelor en soins infirmiers que j'ai terminé en 2015
            à la Haute Ecole de Santé la Source (Lausanne)
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <div class="skill-category">
            <h3>Frontend et Visualisation de Données</h3>
            <ul>
              <li>JavaScript</li>
              <li>D3.js</li>
              <li>WebGL (en cours d'apprentissage)</li>
              <!-- Ajoutez d'autres compétences si nécessaire -->
            </ul>
          </div>

          <div class="skill-category">
            <h3>Backend</h3>
            <ul>
              <!-- Ajoutez les compétences backend ici -->
            </ul>
          </div>

          <div class="skill-category">
            <h3>Design</h3>
            <ul>
              <!-- Ajoutez les compétences design ici -->
            </ul>
          </div>

          <div class="skill-category">
            <h3>Communication et Gestion de Projets</h3>
            <ul>
              <!-- Ajoutez les compétences en communication et gestion de projets ici -->
            </ul>
          </div>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    display: block;
    align-self: center;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .skill-category h3 {
    font-size: var(--text-lg);
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }
</style>
